<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.b7tpm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_b7tpm"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_b7tpm"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuRCARedFormsCategoryActivity" />
        <activity android:name=".MenuRCAWhiteFormsCategoryActivity" />
        <activity android:name=".DetailStatusLevelUserActivity" />
        <activity android:name=".StatusLevelUserActivity" />
        <activity android:name=".UserMenuActivity" />
        <activity android:name=".DetailRCARedFormActivity" />
        <activity android:name=".DetailRCAWhiteFormActivity" />
        <activity android:name=".DetailStatusRedFormActivity" />
        <activity android:name=".StatusRedFormActivity" />
        <activity android:name=".BarcodeActivity" />
        <activity android:name=".EditAdministrasiRedFormActivity" />
        <activity android:name=".AdministrasiRedFormActivity" />
        <activity android:name=".DetailStatusWhiteFormActivity" />
        <activity android:name=".StatusWhiteFormActivity" />
        <activity android:name=".StatusFormMenuActivity" />
        <activity android:name=".EditAdministrasiWhiteFormActivity" />
        <activity android:name=".AdministrasiWhiteFormActivity" />
        <activity android:name=".AdministrasiFormActivity" />
        <activity android:name=".DetailRedFormActivity" />
        <activity android:name=".SplashScreenActivity" />
        <activity android:name=".RCARedFormActivity" />
        <activity android:name=".RCAWhiteFormActivity" />
        <activity android:name=".MenuRCAActivity" />
        <activity android:name=".InformasiTPMActivity" />
        <activity android:name=".NewRedFormActivity" />
        <activity android:name=".NewWhiteFormActivity" />
        <activity android:name=".NewFormActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".DetailWhiteFormActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>